In [27]:
import pandas as pd
import io

df = pd.read_csv("./data/sample.csv")

In [28]:
result = df.sample(n=1)

In [29]:
result

   番号    名前          住所 番組への感想
2   3  坂東三郎  神奈川県横浜市〇〇区    NaN

In [30]:
def random_choice(data):
    df = pd.read_csv(data)
    result = df.sample(n=1)
    buffer = io.StringIO()
    result.to_csv(buffer, index=False)
    return buffer

In [32]:
res = random_choice("./data/sample.csv")

In [33]:
res